CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
*.[oa]
*~
*.DS_Store

# Visual Studio junk
*.ncb
*.suo
*.vcproj.*.user

# CMake junk
*.dir
*.rule

# Windows outputs
*.exe
*.lib

# Borland junk files
*.@@@
*.tds
